.section_vendidos{
   margin-top: 3em;
}

.section_redes{
    margin-top: 3em;
    
}
.btn-nove{
    margin-left: 40em;
    margin-top: 1em;
}

.section__newseller{
    margin-top: 3em;
}

.section_productos{
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.section__newsellerfooter{
    margin-top: 3em;
}