.section_vendidos{
   margin-top: 2.5em;
}

.section_redes{
    margin-top: 3em;
    
}
.btn-nove{
    margin-left: 40em;
    margin-top: 1em;
}

.section__newseller{
    margin-top: 3em;
}

.section_productos{
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.section__newsellerfooter{
    margin-top: 3em;
}

.a-shop{
    text-decoration: none;
    border: $brd;
    color: black;
    background-color: white;
    border-radius: $brd-rad;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 1em;
}

.a-shop:hover{
    background-color: pink;
    color: white;
}