@media only screen and (max-width:564px) {
    .card-context{
        width: 11rem;
        margin: 1%;
    }

    .card-tit{
        font-family: $font-tit;
        text-decoration: none;
        
    }

    .logo__whatsapp{
        position: fixed;
        width: $wi-t -33em;
        bottom: .5em;
        margin-left: 83%;
        height: $he-t/2;
        z-index: 10;
    }

    .card_vendidos{
        width: $wi-t/2;
        margin-left: $mar-t+0.5em;
    }

    .div_carousel{
        margin-left: $mar-t;
    }

    .novacTitulo{
        font-size: 20px;
    }

    .btn-nove{
        margin-left: $mar-t+1;
        height: 3rem;
    }

    .productos-flex{
        display: flex;
        flex-direction: column;
    }

    .div_card_productos{
        width: 20rem;
        margin-left: 1em;
    }
    .registrarme{
        margin-top: $mar-t/2;
    }
    .informacion_registro{
        margin-top: $mar-t/2;
    }

    .card-enlace1{
        margin-left: 4em;
        color: black;
        text-decoration: none;
        background-color: pink;
        border: 2px solid black;
        border-radius: 7px;
        padding: 3px;
    }
    .div_carousel {
        padding-top: $padd-t/2;
    }
    .a-shop{
        text-decoration: none;
        border: $brd;
        color: black;
        background-color: white;
        border-radius: $brd-rad;
        font-size: 15px;
        letter-spacing: 3px;
        padding: 5px;
    }
    
    .a-shop:hover{
        background-color: pink;
        color: white;
    }

}


@media only screen and (min-width:564px) {
    .btn-nove{
        margin-left: 20em;
        margin-top: 1em;
    }
    .card-remeras{
        width: 15rem;
        height: 10rem;
        
    }
    .div_productos-img{
        height: 12rem;
    }
    .div_card_productos{
        height: 22rem;
    }

    .card-enlace1{
        margin-left: 10em;
        color: black;
        text-decoration: none;
        background-color: pink;
        border: 2px solid black;
        border-radius: 7px;
        padding: 3px;
    }

    
    .div_card-img{
        width: 12rem;
        height: 17rem;
        padding: 1em;

    }
    .logo__whatsapp{
    position: fixed;
    width: 3em;
    bottom: .5em;
    margin-left: 89%;
    height: 3em;
    z-index: 1;
}

.div_carousel {
    padding-top: 70px;
}

.imagesabout{
    margin-left: 2em;
}

.a-shop{
    text-decoration: none;
    border: $brd;
    color: black;
    background-color: white;
    border-radius: $brd-rad;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 0.2em;
}

.a-shop:hover{
    background-color: pink;
    color: white;
}
}


@media only screen and (min-width:764px){
    .div_card-img{
        width: 18rem;
        height: 22rem;
        padding: 1em;
    }
    .btn-nove{
        margin-left: 30em;
        margin-top: 1em;
    }
    .div_productos-img{
        height: 20rem;
    }
    .div_card_productos{
        height: 30rem;
    }

    .card-enlace1{
        margin-left: 40%;
        margin-left: 45%;
        color: black;
        text-decoration: none;
        background-color: pink;
        border: 2px solid black;
        border-radius: 7px;
        padding: 3px;
    }
    .logo__whatsapp{
        position: fixed;
        width: 4em;
        bottom: .5em;
        margin-left: 90%;
        height: 4em;
        z-index: 1;
    }

    .a-shop{
        text-decoration: none;
        border: $brd;
        color: black;
        background-color: white;
        border-radius: $brd-rad;
        font-size: 20px;
        letter-spacing: 3px;
        padding: 0.5em;
    }
    
    .a-shop:hover{
        background-color: pink;
        color: white;
    }
}

.img-remeras{
    height: 35rem;
}



@media only screen and (min-width:1024px){
    .div_card-img{
        width: 18rem;
        height: 30rem;
        padding: 1em;
    }
    .btn-nove{
        margin-left: 40em;
        margin-top: 1em;
    }
    .div_productos-img{
        height: 30rem;
    }
    .div_productos-img1{
        height: 27rem;
    }
    .div_card_productos{
        height: 40rem;
    }

    .card-enlace1{
        margin-left: 40%;
        margin-left: 45%;
        color: black;
        text-decoration: none;
        background-color: pink;
        border: 2px solid black;
        border-radius: 7px;
        padding: 3px;
    }

    .a-shop{
        text-decoration: none;
        border: $brd;
        color: black;
        background-color: white;
        border-radius: $brd-rad;
        font-size: 25x;
        letter-spacing: 3px;
        padding: 0.5em;
    }
    
    .a-shop:hover{
        background-color: pink;
        color: white;
    }
}


@media only screen and (min-width:1200px){
    .div_card-img{
        width: 25rem;
        height: 40rem;
        padding: 1em;
    }
    .div_card_productos{
        height: 42rem;
    }
    
    .card-enlace1{
        margin-left: 45%;
        color: black;
        text-decoration: none;
        background-color: pink;
        border: 2px solid black;
        border-radius: 7px;
        padding: 3px;
    }

    .logo__whatsapp{
        position: fixed;
        width: 5em;
        bottom: .5em;
        margin-left: 93%;
        height: 5em;
        z-index: 1;
    }

    .imagesabout{
        margin-left: 2em;
    }

    .a-shop{
        text-decoration: none;
        border: $brd;
        color: black;
        background-color: white;
        border-radius: $brd-rad;
        font-size: 30px;
        letter-spacing: 3px;
        padding: 1em;
    }
    
    .a-shop:hover{
        background-color: pink;
        color: white;
    }
}

