@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@200&display=swap');

.nav-titulo{
    font-family: $font-tit;

}



.div_CardRedes-tit{
    font-family: $font-tit;
    font-size: 3em;
    font-weight: bold;
}

