@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@200&display=swap');


    // $brd: 2px solid black;
    // $brd-rad:7px;
    // $clr-toni:rgb(231, 216, 188);
    // $font-tit:'Dongle', sans-serif; 
    // $font-p:'Montserrat', sans-serif;

    $brd: 2px solid black;
    $brd-rad:7px;
    $font-tit:'Dongle', sans-serif;
    $font-p:'Montserrat', sans-serif;